# /etc/ipsec.secrets - strongSwan IPsec secrets file

{% for connitem in strongswan_conn %}

{% if connitem.psk != false %}
{{ connitem.leftid }} {{ connitem.rightid }} : PSK {{ connitem.psk }}
{% endif %}

{% endfor %}

